In [2]:
import pandas as pd
from transformers import pipeline

pd.options.display.max_colwidth = None

ModuleNotFoundError: No module named 'transformers'

In [2]:
# Initialize a sentiment analysis pipeline using a pre-trained XLM-RoBERTa model
clf = pipeline("sentiment-analysis", model="cardiffnlp/twitter-xlm-roberta-base-sentiment")

Device set to use mps:0

# Classification

In [3]:
# Read the JSON file "tweets.json" into a pandas DataFrame
df = pd.read_json("tweets.json")
df

,query,parent_tweet_id,tweet_id,username,tweet_text
0,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999466558935179776,aniesbaswedan,"Terkait status bencana, begini hemat kami‚Ä¶ https://t.co/Rs8ifHOKJh"
1,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999473688887066624,happychoco75,@aniesbaswedan Di korea aja kebakaran hutan menewaskan 4 orang langsung jadi bencana nasional di sumatera yg tewas sudah mencapai angka 990an tapi masih aja sampe saat ini gamau naik status jadi bencana nasional padahal ini kerusakannya udah parah bgt kenapa sih woo üò≠.
2,quoted_tweet_id:1999473688887066641,1999479967382634752,1999479967382634752,QueenImaIsBack,"Di Itali jembatan roboh sj dg empat puluhan tewas, gov-nya memutuskan emergency NASIONAL \n\nDI INDO SERIBU LEBIH TEWAS, DAERAH TERKENA BENCANA SELUAS JAWA BALI\n\nPresiden malah jalan jalan dan menolak bantuan asing walau rakyat lapar kedinginan sakit kehilangan rumah &amp; keluarga"
3,quoted_tweet_id:1999473688887066641,1999479967382634752,1999479969307853056,QueenImaIsBack,"Terputus dr arah manapun, lima belas hari tanpa listrik air bersih, sampai minum air kubangan"
4,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999465211351433728,1999465211351433728,P3gEl,"4 orang tewas dalam kebakaran hutan, pemerintah Korsel tetapkan sebagai bencana nasional, ah no komen deh https://t.co/U5QCfXV9Vq"
...,...,...,...,...,...
4341,quoted_tweet_id:1906727254241267960,1906729439507214592,1906729439507214592,birmetziegel,enak ya hidup di negara dengan kemanusiaan yang adil dan beradab
4342,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1906689242379813120,1906689242379813120,ENHYPEN_INA,"[ INSTAGRAM ]\n\n@.hope__bridge membagikan postingan foto bersama #SUNOO\n\nAnggota grup ENHYPEN, Sunoo, telah mengirimkan hati yang hangat untuk para korban kebakaran hutan. ‚ú®Ô∏è\n\nHarapan kami adalah agar kebaikan hati yang dikirimkan dapat memberikan kenyamanan bagi para korban https://t.co/C6UIFIXAPr"
4343,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1906594116781117696,1906594116781117696,kpopdankdramaid,"V BTS Ulurkan Tangan, Donasi 200 Juta Won untuk Korban #KebakaranHutan dan Dukung #PetugasPemadamKebakaran! #BTS #V #Donasi #PalangMerahKorea\n\n Selengkapnya https://t.co/qZMz5NPMTj\n-K.Gaeul https://t.co/TLlx6cei24"
4344,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1906592189884637184,1906592189884637184,KpopChartNet,Berikutnya! V BTS Ikut Berdonasi Atas Kebakaran Hutan Yang Terjadi di Seoul\n#V #BTS \n\nhttps://t.co/CpqfSeoJz2
4345,quoted_tweet_id:1906592189884637226,1906714917769789440,1906714917769789440,kthhype_ttg8,"On Mar 31, the KOREAN RED CROSS (Chairman KIM CHEOL-SOO) announced that #V donated 200 million won to help victims of the recent large-scale wildfires &amp; firefighters working hard on the scenes.\n\nV expressed his sorrow &amp; concern on the victims, including the firefighters who work https://t.co/IDY3ZE8cjC"

In [4]:
# Identify parent tweets to prioritize them when dropping duplicates
df["is_parent"] = df["parent_tweet_id"] == df["tweet_id"]

# Sort by 'is_parent' to ensure parent tweets are processed last,
# then drop duplicates based on 'tweet_id', keeping the parent tweet if both parent and child versions exist.
df = df.sort_values("is_parent")
df = df.drop_duplicates(subset=["tweet_id"], keep="last")

df

,query,parent_tweet_id,tweet_id,username,tweet_text,is_parent
0,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999466558935179776,aniesbaswedan,"Terkait status bencana, begini hemat kami‚Ä¶ https://t.co/Rs8ifHOKJh",False
2247,quoted_tweet_id:1908415591397929105,1908452308985537024,1908455392881107200,estensiaI,@sky472132 stay tuned ya kak seriesnya khemjira masih proses syuting kemungkinan juli/agustus ini (semoga),False
3821,quoted_tweet_id:1906751157797789712,1907055138604482816,1907092281267753216,winmetanwin,@tang__kira Makasih mas buat jasa2nya banyak membantu warlok sana. Sehat2 terus dah di Korea dan btw yuk bisa yuk ambil aja sekalian. Kali aja setelah itu bisa boyong anak istri. W juga pen banget bisa kerja di Korea tapi gak lolos ujiannya ü´†,False
3820,quoted_tweet_id:1906751157797789712,1907055138604482816,1907061255233589504,Woninapril,"@tang__kira kasih keluarganya untuk tinggal disana pak,, supaya anaknya dpt pendidikan yg layak disana . jgn disini kasian makan siangnya cuma seadanya doang disini",False
2250,quoted_tweet_id:1908415591397929105,1908447056416416000,1908583543309295872,skypuppyy,@sealedacct makin hari makin bening dahh,False
...,...,...,...,...,...,...
2465,quoted_tweet_id:1907710013562671603,1907749579359183360,1907749579359183360,vtaemiin95,Dia nih kurangnya apa semuanya diborong gak cuma baik diluar tapi di dalamnya jugaüò≠üò≠üò≠,True
2464,quoted_tweet_id:1907710013562671603,1907749926114832640,1907749926114832640,dayndaiily,Cowok akuüò≠üò≠,True
2463,quoted_tweet_id:1907710013562671603,1907749969983058176,1907749969983058176,ieunusaena,sayangggüòñüòñüòñü§çü§çü§ç,True
2475,quoted_tweet_id:1907710013562671603,1907744800331178240,1907744800331178240,maplebloom_12,Kim seokjin kamu ganteng segala-galanya üò≠üò≠üò≠üò≠,True
4345,quoted_tweet_id:1906592189884637226,1906714917769789440,1906714917769789440,kthhype_ttg8,"On Mar 31, the KOREAN RED CROSS (Chairman KIM CHEOL-SOO) announced that #V donated 200 million won to help victims of the recent large-scale wildfires &amp; firefighters working hard on the scenes.\n\nV expressed his sorrow &amp; concern on the victims, including the firefighters who work https://t.co/IDY3ZE8cjC",True

## Predict Sentiment

In [5]:
# Apply sentiment analysis to the 'tweet_text' column and extract the label
df["sentiment"] = clf(df["tweet_text"].to_numpy().tolist())
df["sentiment"] = df["sentiment"].apply(lambda value: value["label"])

df

,query,parent_tweet_id,tweet_id,username,tweet_text,is_parent,sentiment
0,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999466558935179776,aniesbaswedan,"Terkait status bencana, begini hemat kami‚Ä¶ https://t.co/Rs8ifHOKJh",False,neutral
2247,quoted_tweet_id:1908415591397929105,1908452308985537024,1908455392881107200,estensiaI,@sky472132 stay tuned ya kak seriesnya khemjira masih proses syuting kemungkinan juli/agustus ini (semoga),False,neutral
3821,quoted_tweet_id:1906751157797789712,1907055138604482816,1907092281267753216,winmetanwin,@tang__kira Makasih mas buat jasa2nya banyak membantu warlok sana. Sehat2 terus dah di Korea dan btw yuk bisa yuk ambil aja sekalian. Kali aja setelah itu bisa boyong anak istri. W juga pen banget bisa kerja di Korea tapi gak lolos ujiannya ü´†,False,positive
3820,quoted_tweet_id:1906751157797789712,1907055138604482816,1907061255233589504,Woninapril,"@tang__kira kasih keluarganya untuk tinggal disana pak,, supaya anaknya dpt pendidikan yg layak disana . jgn disini kasian makan siangnya cuma seadanya doang disini",False,negative
2250,quoted_tweet_id:1908415591397929105,1908447056416416000,1908583543309295872,skypuppyy,@sealedacct makin hari makin bening dahh,False,negative
...,...,...,...,...,...,...,...
2465,quoted_tweet_id:1907710013562671603,1907749579359183360,1907749579359183360,vtaemiin95,Dia nih kurangnya apa semuanya diborong gak cuma baik diluar tapi di dalamnya jugaüò≠üò≠üò≠,True,negative
2464,quoted_tweet_id:1907710013562671603,1907749926114832640,1907749926114832640,dayndaiily,Cowok akuüò≠üò≠,True,negative
2463,quoted_tweet_id:1907710013562671603,1907749969983058176,1907749969983058176,ieunusaena,sayangggüòñüòñüòñü§çü§çü§ç,True,negative
2475,quoted_tweet_id:1907710013562671603,1907744800331178240,1907744800331178240,maplebloom_12,Kim seokjin kamu ganteng segala-galanya üò≠üò≠üò≠üò≠,True,positive
4345,quoted_tweet_id:1906592189884637226,1906714917769789440,1906714917769789440,kthhype_ttg8,"On Mar 31, the KOREAN RED CROSS (Chairman KIM CHEOL-SOO) announced that #V donated 200 million won to help victims of the recent large-scale wildfires &amp; firefighters working hard on the scenes.\n\nV expressed his sorrow &amp; concern on the victims, including the firefighters who work https://t.co/IDY3ZE8cjC",True,negative

## Sentiment Scoring

In [6]:
# Count the occurrences of each unique username in the DataFrame
df.value_counts("username")

username
FransJarwo62560    88
PensilAajaib       29
UnitBerita         28
tang__kira         26
P3gEl               9
                   ..
aokiro1996          1
aozora_ands_48      1
apaaja_ii           1
apatisnr            1
zzzzjky             1
Name: count, Length: 3609, dtype: int64

In [7]:
# Define a dictionary to map sentiment categories to numerical scores
sentiment_score_map = {
    "negative": -1,
    "neutral" : 0,
    "positive": 1,
}

# Apply the mapping to create a new 'sentiment_score' column in the DataFrame
df["sentiment_score"] = df["sentiment"].map(sentiment_score_map)
df

,query,parent_tweet_id,tweet_id,username,tweet_text,is_parent,sentiment,sentiment_score
0,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999466558935179776,aniesbaswedan,"Terkait status bencana, begini hemat kami‚Ä¶ https://t.co/Rs8ifHOKJh",False,neutral,0
2247,quoted_tweet_id:1908415591397929105,1908452308985537024,1908455392881107200,estensiaI,@sky472132 stay tuned ya kak seriesnya khemjira masih proses syuting kemungkinan juli/agustus ini (semoga),False,neutral,0
3821,quoted_tweet_id:1906751157797789712,1907055138604482816,1907092281267753216,winmetanwin,@tang__kira Makasih mas buat jasa2nya banyak membantu warlok sana. Sehat2 terus dah di Korea dan btw yuk bisa yuk ambil aja sekalian. Kali aja setelah itu bisa boyong anak istri. W juga pen banget bisa kerja di Korea tapi gak lolos ujiannya ü´†,False,positive,1
3820,quoted_tweet_id:1906751157797789712,1907055138604482816,1907061255233589504,Woninapril,"@tang__kira kasih keluarganya untuk tinggal disana pak,, supaya anaknya dpt pendidikan yg layak disana . jgn disini kasian makan siangnya cuma seadanya doang disini",False,negative,-1
2250,quoted_tweet_id:1908415591397929105,1908447056416416000,1908583543309295872,skypuppyy,@sealedacct makin hari makin bening dahh,False,negative,-1
...,...,...,...,...,...,...,...,...
2465,quoted_tweet_id:1907710013562671603,1907749579359183360,1907749579359183360,vtaemiin95,Dia nih kurangnya apa semuanya diborong gak cuma baik diluar tapi di dalamnya jugaüò≠üò≠üò≠,True,negative,-1
2464,quoted_tweet_id:1907710013562671603,1907749926114832640,1907749926114832640,dayndaiily,Cowok akuüò≠üò≠,True,negative,-1
2463,quoted_tweet_id:1907710013562671603,1907749969983058176,1907749969983058176,ieunusaena,sayangggüòñüòñüòñü§çü§çü§ç,True,negative,-1
2475,quoted_tweet_id:1907710013562671603,1907744800331178240,1907744800331178240,maplebloom_12,Kim seokjin kamu ganteng segala-galanya üò≠üò≠üò≠üò≠,True,positive,1
4345,quoted_tweet_id:1906592189884637226,1906714917769789440,1906714917769789440,kthhype_ttg8,"On Mar 31, the KOREAN RED CROSS (Chairman KIM CHEOL-SOO) announced that #V donated 200 million won to help victims of the recent large-scale wildfires &amp; firefighters working hard on the scenes.\n\nV expressed his sorrow &amp; concern on the victims, including the firefighters who work https://t.co/IDY3ZE8cjC",True,negative,-1

In [8]:
# Calculate the sum of sentiment scores for each user
df_user_sentiment_score = df.groupby("username").agg(
    user_sentiment_score = ("sentiment_score", "sum")
)

# Sort the DataFrame by user_sentiment_score
df_user_sentiment_score.sort_values("user_sentiment_score")

                 user_sentiment_score
username
FransJarwo62560                   -17
P3gEl                              -4
poernamaheroe                      -3
MariaAlkaff_                       -3
salasikan                          -3
...                               ...
PensilAajaib                        3
Larasati004                         4
stuborngvrl                         4
AntoniusCDN                         5
sangpyeo                            5

[3609 rows x 1 columns]

In [9]:
# Merge sentiment scores with the main DataFrame
df = df.merge(df_user_sentiment_score, on="username")
df

,query,parent_tweet_id,tweet_id,username,tweet_text,is_parent,sentiment,sentiment_score,user_sentiment_score
0,"(""kebakaran hutan"" or ""kabut asap"") min_retweets:10 lang:id",1999473688887066624,1999466558935179776,aniesbaswedan,"Terkait status bencana, begini hemat kami‚Ä¶ https://t.co/Rs8ifHOKJh",False,neutral,0,0
1,quoted_tweet_id:1908415591397929105,1908452308985537024,1908455392881107200,estensiaI,@sky472132 stay tuned ya kak seriesnya khemjira masih proses syuting kemungkinan juli/agustus ini (semoga),False,neutral,0,0
2,quoted_tweet_id:1906751157797789712,1907055138604482816,1907092281267753216,winmetanwin,@tang__kira Makasih mas buat jasa2nya banyak membantu warlok sana. Sehat2 terus dah di Korea dan btw yuk bisa yuk ambil aja sekalian. Kali aja setelah itu bisa boyong anak istri. W juga pen banget bisa kerja di Korea tapi gak lolos ujiannya ü´†,False,positive,1,1
3,quoted_tweet_id:1906751157797789712,1907055138604482816,1907061255233589504,Woninapril,"@tang__kira kasih keluarganya untuk tinggal disana pak,, supaya anaknya dpt pendidikan yg layak disana . jgn disini kasian makan siangnya cuma seadanya doang disini",False,negative,-1,-1
4,quoted_tweet_id:1908415591397929105,1908447056416416000,1908583543309295872,skypuppyy,@sealedacct makin hari makin bening dahh,False,negative,-1,-1
...,...,...,...,...,...,...,...,...,...
4194,quoted_tweet_id:1907710013562671603,1907749579359183360,1907749579359183360,vtaemiin95,Dia nih kurangnya apa semuanya diborong gak cuma baik diluar tapi di dalamnya jugaüò≠üò≠üò≠,True,negative,-1,-2
4195,quoted_tweet_id:1907710013562671603,1907749926114832640,1907749926114832640,dayndaiily,Cowok akuüò≠üò≠,True,negative,-1,-1
4196,quoted_tweet_id:1907710013562671603,1907749969983058176,1907749969983058176,ieunusaena,sayangggüòñüòñüòñü§çü§çü§ç,True,negative,-1,-1
4197,quoted_tweet_id:1907710013562671603,1907744800331178240,1907744800331178240,maplebloom_12,Kim seokjin kamu ganteng segala-galanya üò≠üò≠üò≠üò≠,True,positive,1,1
4198,quoted_tweet_id:1906592189884637226,1906714917769789440,1906714917769789440,kthhype_ttg8,"On Mar 31, the KOREAN RED CROSS (Chairman KIM CHEOL-SOO) announced that #V donated 200 million won to help victims of the recent large-scale wildfires &amp; firefighters working hard on the scenes.\n\nV expressed his sorrow &amp; concern on the victims, including the firefighters who work https://t.co/IDY3ZE8cjC",True,negative,-1,-1

In [10]:
# Save the DataFrame to a JSON file with sentiment data
df.to_json("tweets_with_sentiment.json", orient="records", index=False, indent=4)